---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const headings = [
  { depth: 2, slug: 'hobbies', text: '爱好' },
  { depth: 2, slug: 'tools', text: '工具' },
  { depth: 2, slug: 'social-networks', text: '社交网络' },
  { depth: 2, slug: 'about-blog', text: '关于博客' }
]
---

<PageLayout title='关于' {headings} comment>
  <p>
    Student / Developer
  </p>
  <p>
    双葉橘 / <b>橘橘</b> / Futaba_Tachibana / <b>f14a</b> / Dblv_Tangerines
  </p>
  <p>
    Minecraft 玩家 / 后端开发 / 喜欢折腾软件
  </p>
  <p>
    <Spoiler>后面忘了。</Spoiler>
  </p>
  <Button title='查看我的项目' class='w-fit' href='/projects#sponsorship' variant='ahead' />

  {/* general-talk */}
  <h2 id='hobbies'>爱好</h2>
  <ul>
    <li>Minecraft</li>
    <li>模拟经营游戏</li>
    <li>编程</li>
    <li><Spoiler>在 QQ 水群</Spoiler></li>
    <li><Spoiler>把事情拖到 DDL</Spoiler></li>
    <li><Spoiler>忘记东西</Spoiler></li>
  </ul>

  {/* tools */}
  <h2 id='tools'>工具</h2>
  <p>我所使用的工具：</p>
  <ToolSection
    class='mb-5'
    title='生产力'
    tools={[
      {
        name: 'Edge',
        description: 'Browser',
        href: 'https://www.microsoft.com/edge/',
        icon: import('@/assets/tools/edge.svg?raw')
      },
      {
        name: 'Safari',
        description: 'Browser',
        href: 'https://www.apple.com/safari/',
        icon: import('@/assets/tools/safari.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='开发'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: import('@/assets/tools/vscode.svg?raw')
      },
      {
        name: 'IntelliJ IDEA',
        description: 'IDE',
        href: 'https://www.jetbrains.com/idea/',
        icon: import('@/assets/tools/intellij.svg?raw')
      },
      {
        name: 'Git',
        description: 'Version Control',
        href: 'https://git-scm.com/',
        icon: import('@/assets/tools/git.svg?raw')
      },
      {
        name: 'GitHub',
        description: 'Code Hosting',
        href: 'https://github.com/',
        icon: import('@/assets/tools/github.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='环境'
    tools={[
      {
        name: 'Debian GNU/Linux',
        description: 'Remoute Server OS',
        href: 'https://www.debian.org/',
        icon: import('@/assets/tools/debian.svg?raw')
      },
      {
        name: 'Ubuntu 24.04 LTS',
        description: 'WSL',
        href: 'https://ubuntu.com/',
        icon: import('@/assets/tools/ubuntu.svg?raw')
      },
      {
        name: 'MacOS Sequioa',
        description: 'Apple Mac mini',
        href: 'https://www.apple.com/macos/',
        icon: import('@/assets/tools/apple.svg?raw')
      },
      {
        name: 'Windows 11',
        description: 'ASUS TUF Gaming F15',
        href: 'https://news.microsoft.com/windows11-general-availability/',
        icon: import('@/assets/tools/windows11.svg?raw')
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='设计'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: import('@/assets/tools/photoshop.svg?raw')
      }
    ]}
  />

  {/* social-networks */}
  <h2 id='social-networks'>社交网络</h2>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/f0xea',
        text: 'followers',
        api: 'github/f0xea'
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561198798759615/',
        text: 'games',
        api: 'steamgames/76561198798759615'
      },
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/37149306',
        text: 'followers',
        api: 'bilibili/37149306'
      }
    ]}
  />
  
  <!-- {/* gossips */}
  <h2 id='gossips'>Gossips</h2>
  <Collapse title='Lorem ipsum'>
    Lorem ipsum dolor sit amet, vidit suscipit at mei. Quem denique mea id. Usu ei regione indoctum
    dissentiunt, cu meliore fuisset mei, vel quod voluptua ne. Ex dicat impedit mel, at eum oratio
    possit voluptatum.
  </Collapse> -->

  {/* about-blog */}
  <h2 id='about-blog'>关于博客</h2>
  <p>网站历史：</p>
  <Timeline
    events={[
      {
        date: '2025-12-09',
        content:
          '网站开始使用 <a href="https://astro.build/" target="_blank">Astro</a> 框架和 <a href="https://github.com/cworld1/astro-theme-pure" target="_blank">Astro Theme Resume</a> 模板构建。'
      },
      {
        date: '2025-03-10',
        content: '开始搭建个人网站。'
      }
    ]}
  />
  <!-- <p>
    The smooth operation and personalized customization of website also rely on the resources and
    technical support provided by the following excellent projects/service providers:
  </p> -->
  <ul>
    <li>
      域名: <a href='https://www.cloudflare.com' target='_blank'>Cloudflare</a>
    </li>
    <li>
      框架 & 主题: <a href='https://astro.build' target='_blank'>Astro</a> + <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'>Astro Theme Pure</a
      >
    </li>
    <li>
      网站托管: <a href='https://www.aliyun.com/' target='_blank'>阿里云</a>
    </li>
    <li>
      反向代理: <a href='https://nginx.org/' target='_blank'>Nginx</a>
    </li>
    <li>
      评论系统: <a href='https://waline.js.org' target='_blank'>Waline</a>
    </li>
    <!-- <li>
      访问统计: <a href='https://supabase.com/' target='_blank'>Supabase</a> +
      <a href='https://waline.js.org/' target='_blank'>Waline</a>
    </li> -->
    <li>
      统计: <a href='https://github.com/spencerwooo/substats' target='_blank'
        >Substats</a>
    </li>
  </ul>
</PageLayout>
